<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Hello World</title>
    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    
    <!-- Don't use this in production: -->
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
  </head>
  <body>
    <div id="root"></div>
    <script type="text/babel">

      ReactDOM.render(
        <h1>Hello, world!</h1>,
        document.getElementById('root')
      );

    </script>
    <div class="comment" style="margin : 0 0 0 0">
      <h4 style="width:500px; height:auto; margin:0 0 0 5px;">MEAT 지수</h4>
      <div style="width:400; height:110px">
        <img
          src="https://thumbs.dreamstime.com/b/rotten-piece-meat-icon-cartoon-style-illustration-vector-web-82738386.jpg"
          alt="My Image" width=100px style="float:left">
        <h1 style="float:left; font-size:80px; margin: 0 600px 0 0 ">&nbsp;88%</h1>
        <hr width=650px; style="float: left; border: solid 1px rgb(138, 138, 138); margin: 10px 0 0 0;">
        </hr><div class="good" style="height: auto; margin: 0 0 0 0;float: left;">
        <div style="width: 300px; height: 60px;">
          <div style=" max-width:60px; overflow: hidden; float: left; margin: 0 0 0 0;">
            <img
              src="https://previews.123rf.com/images/09910190/099101901711/09910190171100062/90461006-good-and-bad-signs-set-social-media-gesture-like-finger-thumb-up-and-down-vector-illustration-flat-s.jpg"
              alt="C:/Users/klous/OneDrive/Desktop/sign/bad.png" width=100px
              style="max-width:initial; float: left; margin: 0px 10px 0px 10px; overflow: hidden; ">
          </div>
          <div style=" margin:15px 0 0 0; width: 180px; float: left ">
            <h1 style=" margin:0 0 0 10px;">좋아요!</h1>
          </div>
        </div>
        <hr width=300px; style="float: left; border: solid 1px rgb(138, 138, 138); margin: 10px 0 0 0;">
        <div class="goodComment1" style="width:300px">
          <h3 style="margin: 20px 10px 10px 10px; float:left; width:230px">빵덕후</h1> 
          <h2 style="margin: 14px 10px 0 0px; float:right; height:45px;">5.0</h2>
          <div>
            <h6>이런식으로 구워먹는 고깃집을 가본적이 없어서 호기심에 가보았는데 좀 정신없었지만 재밌었습니다! 엄청은 아니지만 맛있었어요!! 시원쌀국수?? 이건 좀 별로... 석쇠막구이는 맛났어요!! 고기가 좀 부족했는데 이걸로 채웠..ㅋㅋㅋ 뚝배기 크림리조또 맛있었어요!! 알바생이 약간 친절하지 않아서 아쉬웠네요</h5>
          </div>
        </div>
      </div>

      <div style="border-left:2px solid rgb(138, 138, 138); width:5px; height: 300px;float:left;"></div>

      <div class="bad" style="height: auto; margin: 0 0 0 0;float: left;">
        <div style="width: 300px; height: 60px;">
          <div style=" max-width:60px; overflow: hidden; float: left; margin: 0 0 0 0;">
            <img
              src="https://previews.123rf.com/images/09910190/099101901711/09910190171100062/90461006-good-and-bad-signs-set-social-media-gesture-like-finger-thumb-up-and-down-vector-illustration-flat-s.jpg"
              alt="C:/Users/klous/OneDrive/Desktop/sign/bad.png" width=100px
              style="max-width:initial; float: left;  margin: 0px 10px 0px -80%; overflow: hidden; ">
          </div>
          <div style=" margin:15px 0 0 0; width: 180px; float: left ">
            <h1 style=" margin:0 0 0 0px;">모르겠어요!</h1>
          </div>
        </div>
        <hr width=300px; style="float: left; border: solid 1px rgb(138, 138, 138); margin: 10px 0 0 0;">
        <div class="goodComment1" style="width:300px">
          <h3 style="margin: 20px 10px 10px 10px; float:left; width:230px">미식가쵸파</h1> 
          <h2 style="margin: 14px 10px 0 0px; float:right; height:45px;">4.0</h2>
          <div>
            <h6>아주 맛있는건 아닌데 가볼만해요. 고기보다 김치찌개가 더 맛있었다는..</h5>
          </div>
        </div>
      </div>
    </div>
<div class="comment" style="margin : 0 0 0 0">
      <h4 style="width:500px; height:auto; margin:0 0 0 5px;">MEAT 지수</h4>
      <div style="width:400; height:110px">
        <img
          src="https://thumbs.dreamstime.com/b/rotten-piece-meat-icon-cartoon-style-illustration-vector-web-82738386.jpg"
          alt="My Image" width=100px style="float:left">
        <h1 style="float:left; font-size:80px; margin: 0 600px 0 0 ">&nbsp;72%</h1>
        <hr width=650px; style="float: left; border: solid 1px rgb(138, 138, 138); margin: 10px 0 0 0;">
        </hr><div class="good" style="height: auto; margin: 0 0 0 0;float: left;">
        <div style="width: 300px; height: 60px;">
          <div style=" max-width:60px; overflow: hidden; float: left; margin: 0 0 0 0;">
            <img
              src="https://previews.123rf.com/images/09910190/099101901711/09910190171100062/90461006-good-and-bad-signs-set-social-media-gesture-like-finger-thumb-up-and-down-vector-illustration-flat-s.jpg"
              alt="C:/Users/klous/OneDrive/Desktop/sign/bad.png" width=100px
              style="max-width:initial; float: left; margin: 0px 10px 0px 10px; overflow: hidden; ">
          </div>
          <div style=" margin:15px 0 0 0; width: 180px; float: left ">
            <h1 style=" margin:0 0 0 10px;">좋아요!</h1>
          </div>
        </div>
        <hr width=300px; style="float: left; border: solid 1px rgb(138, 138, 138); margin: 10px 0 0 0;">
        <div class="goodComment1" style="width:300px">
          <h3 style="margin: 20px 10px 10px 10px; float:left; width:230px">고창현</h1> 
          <h2 style="margin: 14px 10px 0 0px; float:right; height:45px;">4.0</h2>
          <div>
            <h6>맛있어요</h5>
          </div>
        </div>
      </div>

      <div style="border-left:2px solid rgb(138, 138, 138); width:5px; height: 300px;float:left;"></div>

      <div class="bad" style="height: auto; margin: 0 0 0 0;float: left;">
        <div style="width: 300px; height: 60px;">
          <div style=" max-width:60px; overflow: hidden; float: left; margin: 0 0 0 0;">
            <img
              src="https://previews.123rf.com/images/09910190/099101901711/09910190171100062/90461006-good-and-bad-signs-set-social-media-gesture-like-finger-thumb-up-and-down-vector-illustration-flat-s.jpg"
              alt="C:/Users/klous/OneDrive/Desktop/sign/bad.png" width=100px
              style="max-width:initial; float: left;  margin: 0px 10px 0px -80%; overflow: hidden; ">
          </div>
          <div style=" margin:15px 0 0 0; width: 180px; float: left ">
            <h1 style=" margin:0 0 0 0px;">모르겠어요!</h1>
          </div>
        </div>
        <hr width=300px; style="float: left; border: solid 1px rgb(138, 138, 138); margin: 10px 0 0 0;">
        <div class="goodComment1" style="width:300px">
          <h3 style="margin: 20px 10px 10px 10px; float:left; width:230px">식후식곤증</h1> 
          <h2 style="margin: 14px 10px 0 0px; float:right; height:45px;">3.0</h2>
          <div>
            <h6>숙성구이 첨 먹어 봣는데 맘에 들었어요</h5>
          </div>
        </div>
      </div>
    </div>

Process finished with exit code 0

  </body>
</html>